{% set folder = 'dist' %}
{% if this.debug() %}
    {% set folder = 'html' %}
{% endif %}

{% if this.isBBUser() %}
    {{ this.addStylesheet(this.getResourceUrl('toolbar/' ~ folder ~ '/css/bb-ui.css')) }}
    {{ this.addStylesheet(this.getResourceUrl('toolbar/' ~ folder ~ '/css/vendor.css')) }}
{% else %}
    {{ this.addStylesheet(this.getResourceUrl('toolbar/' ~ folder ~ '/css/bb-ui-login.css')) }}
{% endif %}

<script
    {% if this.debug() %}
        data-main="{{ this.getResourceUrl('toolbar/src/require.config.js') }}"
    {% else %}
        data-main="{{ this.getResourceUrl('toolbar/src/require.config.build.js') }}"
    {% endif %}
    src="{{ this.getResourceUrl('toolbar/bower_components/requirejs/require.js') }}"
></script>

<div id="{{ wrapper }}"
    data-api="{{ this.getUri('/rest/1/') }}"
    data-toolbar-selector="true"
    {% if this.isBBUser() %}
        data-autostart
        data-site-uid="{{ this.getCurrentPage().getSite().getUid() }}"
        data-page-uid="{{ this.getCurrentPage().getUid() }}"
        data-layout-uid="{{ this.getCurrentPage().getLayout().getUid() }}"
    {% endif %}
></div>
