{% set isMin = '.min' %}
{% if this.isToolbarDebug() %}
    {% set isMin = '' %}
{% endif %}

{% if this.isBBUser() %}
    <link href="{{ this.getResourceUrl('toolbar/dist/css/bb-ui' ~ isMin ~ '.css') }}" rel="stylesheet">
    <link href="{{ this.getResourceUrl('toolbar/dist/css/vendor' ~ isMin ~ '.css') }}" rel="stylesheet">
{% else %}
    <link href="{{ this.getResourceUrl('toolbar/dist/css/bb-ui-login' ~ isMin ~ '.css') }}" rel="stylesheet">
{% endif %}

<script
    data-main="{{ this.getResourceUrl('toolbar/dist/config' ~ isMin ~ '.js') }}"
    src="{{ this.getResourceUrl('toolbar/dist/require.js') }}"
></script>

<div id="{{ wrapper }}"
    data-api="{{ this.getUri('/rest/1/') }}"
    data-toolbar-selector="true"
    {% if this.isBBUser() %}
        data-autostart
        data-site-uid="{{ this.getCurrentPage().getSite().getUid() }}"
        data-page-uid="{{ this.getCurrentPage().getUid() }}"
        data-layout-uid="{{ this.getCurrentPage().getLayout().getUid() }}"
    {% endif %}
></div>
