<!DOCTYPE html>
<html>
    {{ this.partial('partials/header-head.twig')|raw }}

    {% if this.isBBUser() %}
        <link href="{{ this.getResourceUrl('toolbar/dist/css/bb-ui' ~ isMin ~ '.css') }}" rel="stylesheet">
        <link href="{{ this.getResourceUrl('toolbar/dist/css/vendor' ~ isMin ~ '.css') }}" rel="stylesheet">
    {% else %}
        <link href="{{ this.getResourceUrl('toolbar/dist/css/bb-ui-login' ~ isMin ~ '.css') }}" rel="stylesheet">
    {% endif %}


    <body>
        {{ this.bbtoolbar()|raw }}
        <div id="bb5-site-wrapper">
            <div class="container" id="body-wrapper">
                <div class="row" id="bb5-mainLayoutRow">
                    <div class="span12">
                        <section role="main" class="section">
                            <h1>An error has occurred&hellip;</h1>
                            <div class="announcement-wrapper">
                                <p>Please contact the website administrator. (code exception: {{ error.getStatusCode() }})</p>
                            </div>
                        </section>
                    </div>
            </div>
        </div>
    </body>
</html>